* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #07111f;
  color: white;
  transition: 0.3s;
}

.clock-container {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  border-radius: 25px;
  background: #0d1b2e;
  box-shadow: 0 0 30px #008cff55;
}

h1 {
  margin-bottom: 25px;
  color: #00c8ff;
}

#time {
  font-size: 55px;
  font-weight: bold;
  color: #00c8ff;
  margin-bottom: 15px;
}

#date {
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #00c8ff;
  color: #06101c;
  font-weight: bold;
}

/* Light mode */

body.light {
  background: #eef7ff;
  color: #111;
}

body.light .clock-container {
  background: white;
  box-shadow: 0 0 30px #0002;
}

body.light #time {
  color: #0879b5;
}